apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: ez-platform
  labels:
    app: jaeger
    component: tracing
spec:
  type: ClusterIP
  ports:
    - name: grpc-otlp
      port: 14250
      targetPort: 14250
      protocol: TCP
    - name: http-collector
      port: 14268
      targetPort: 14268
      protocol: TCP
    - name: ui
      port: 16686
      targetPort: 16686
      protocol: TCP
    - name: zipkin
      port: 9411
      targetPort: 9411
      protocol: TCP
  selector:
    app: jaeger

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: ez-platform
  labels:
    app: jaeger
    component: tracing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
        component: tracing
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        ports:
          - name: grpc-otlp
            containerPort: 14250
            protocol: TCP
          - name: http-collector
            containerPort: 14268
            protocol: TCP
          - name: ui
            containerPort: 16686
            protocol: TCP
          - name: zipkin
            containerPort: 9411
            protocol: TCP
          - name: udp-compact
            containerPort: 6831
            protocol: UDP
          - name: udp-binary
            containerPort: 6832
            protocol: UDP
        env:
          - name: COLLECTOR_ZIPKIN_HOST_PORT
            value: ":9411"
          - name: COLLECTOR_OTLP_ENABLED
            value: "true"
        resources:
          limits:
            cpu: "1"
            memory: 1Gi
          requests:
            cpu: 250m
            memory: 512Mi
      restartPolicy: Always
